<html>
    <head>
         <!--pannel scripts&cdd-->
        <script src="public/jquery-3.2.1.min.js"></script> 
        <script src="public/vue.min.js"></script>            
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='public/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='public/libs/semantic/dist/semantic.min.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/style.css">
        <link rel="stylesheet" href="public/main.css">        
        <!--cube 3d scripts&css-->
        <link rel="stylesheet" href="public/css/experiment.css" />          
        
    </head>
    <body>
        <!--这里是cube-->
        <div style="background-image:url(background.jpg);height:600px">
            a
            <div id="experiment">
                    <div id="cube">
                            <div class="face one" >
                                <img src="https://avatars0.githubusercontent.com/u/30835292?v=4&u=0828fdc04493f465d3a4ee0957fb8397e9c0d940&s=400" alt="Chicago" height="98%" width="98%">
                                    <div class="carousel-caption">
                                      <h3>刁志聪</h3>
                                      <h4>我学习JS的心愿是，先将容易上手的JS学透，然后应用在自己的领域里，如果可能，转行编程行业，把自己的想法用编程的方式展现出来，这将会是一件非常有趣的事</h4>
                                    </div>
                            </div>
                            <div class="face two">
                                
                                    <h1 style="position:relative;text-align:center;top:150px">超厉害的深圳JS分队</h1>
                                    <h3 style="position:relative;text-align:center;top:160px">通过「⇦ ⇧ ⇨ ⇩」来控制立方体旋转！</h3>
                            </div>
                            <div class="face three">
                                <img src="http://oon3erbcp.bkt.clouddn.com/liuzc.jpg" alt="New York" height="98%" width="98%">
                                <div class="carousel-caption">
                                    <h3>刘争春</h3>
                                    <h5>被徐老师的超低价给吸引进来了，本来学的是python数据科学，哈哈哈！！！</h5>
                                </div>
                            </div>
                            <div class="face four">
                                <img src="public/tang.head.jpg" alt="New York" height="100%" width="100%">
                                <div class="carousel-caption">
                                    <h3>唐剑锋</h3>
                                    <h5>学习了全栈营后，觉得还要提高，所以来学，希望能学到东西</h5>
                                </div>
                            </div>
                            <div class="face five">
                                <img src="http://oon3erbcp.bkt.clouddn.com/avata%28qiujingyu%29.png" alt="New York" height="98%" width="98%">
                                <div class="carousel-caption">
                                      <h3>丘竟钰</h3>
                                      <h5>希望参加这个课程能让自己建立的网站更加生动活泼</h5>
                                </div>
                            </div>
                            <div class="face six">
                                <img src="http://i0.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" alt="Chania" height="100%" width="100%">
                                <div class="carousel-caption">
                                    <h3>hitchhacker</h3>
                                    <p>搞定JS.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                                
        </div>
        <!--这里是导航窗口-->
        <div class="index-content">

            <div class="container">
                <a href="https://zh.wikipedia.org/wiki/JavaScript">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <img src="https://i.ytimg.com/vi/1_tTH6RiAXk/maxresdefault.jpg">
                            <h4>JavaScript简介</h4>
                            <p>要学习JavaScript，首先你要知道它是什么？能做什么？然后，你就去用它吧！</p>
                            <a href="https://zh.wikipedia.org/wiki/JavaScript" class="blue-button">Read More</a>
                        </div>
                    </div>
                </a>
                <a href="http://www.w3school.com.cn/js/">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fj6fu5zm2uj30zk0k00t5.jpg">
                            <h4>学习资源</h4>
                            <p>JavaScript是最适合初学者的语言之一，现在就可以点开下面的链接开始学习吧！</p>
                            <a href="http://www.w3school.com.cn/js/" class="blue-button">Read More</a>
                        </div>
                    </div>
                </a>
                <a href="https://web.xinshengdaxue.com/home/lessons">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fjeacotp7kj30zk0k0wf6.jpg">
                            <h4>进阶课程</h4>
                            <p>还想继续提高的同学可以报新生大学的JavaScript课程哦！超级推荐徐高阳老师的课哦！</p>
                            <a href="https://web.xinshengdaxue.com/home/lessons" class="blue-button">Read More</a>
                        </div>
                    </div>
                </a>
                
    
            </div>
        </div>
            <!--
            <div class="cube-area" style="position:relative;top:150px">
                
                <div id="experiment">
                    
                </div>
            
            
                        
            </div>
            <!--下面-->
            <div>
                <!--说话墙-->
                <div class="panel panel-info col-md-6" style="width:70%">
                    <div class="panel-heading">
                            <h3 class="panel-title text-center">说话墙😁</h3>
                    </div>        
                    <div class ="panel-body" id="all_students_datas" style="overflow: auto;height:1000px">
                        <div id="columns">
                            <div class="words-pannel" v-for="item in all_students_data">
                                <figure>
                                    <div class="students_words">
                                        {{item.words}}
                                    </div>
                                    <hr>
                                    <div class="name_and_avastar">
                                        {{ item.name }}
                                        <img class="ui avatar image" v-bind:src="item.avatar" alt="..."> 
                                    </div>
                                </figure>
                            </div>
                        </div>                      
                    </div>
                </div>

            <!--对老师说话-->
            
                <div class="panel panel-info col-md-6" style="width:30%">
                        <div class="panel-heading">
                          <h3 class="panel-title text-center">还有话想跟老师说？</h3>
                        </div>
                        <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="name">个人姓名</label>
                                <input v-model="nameString"  type="name" class="form-control" id="name" placeholder="请输入你的姓名">
                            </div>
                            <div class="form-group">
                                <label for="account">新大账号</label>
                            <input v-model="accountString" type="account" class="form-control" id="account" placeholder="请输入新大注册手机号码或邮箱">
                            </div>
                            <div class="form-group">
                                <label for="content">想说的话</label>
                                <input v-model="contentString" type="content" class="form-control" id="content" placeholder="请输入你想对徐老师说的话">
                            </div>
              
                            <div class="btn btn-primary" v-on:click="sendData">提交发送</div>
                        </form>
                        </div>
                </div>

                <!--小游戏-->
                <div class="panel panel-info col-md-6" style="width:30%">
                        <div class="panel-heading">
                          <h3 class="panel-title text-center">小游戏</h3>
                        </div>
                        <div class="panel-body">
                                <div id="chess_game">                                
                                        <div class="square" id="1-1" v-on:click="newStep"></div>
                                        <div class="square" id="1-2" v-on:click="newStep"></div>
                                        <div class="square" id="1-3" v-on:click="newStep"></div>
                                        <div class="square" id="2-1" v-on:click="newStep"></div>
                                        <div class="square" id="2-2" v-on:click="newStep"></div>
                                        <div class="square" id="2-3" v-on:click="newStep"></div>
                                        <div class="square" id="3-1" v-on:click="newStep"></div>
                                       <div class="square" id="3-2" v-on:click="newStep"></div>
                                        <div class="square" id="3-3" v-on:click="newStep"></div>
                                </div>
                        </div>
                </div>
                

                    
            </div>


            <!--JS代码部分-->
            <script src="public/js/experiment.js"></script>
            <script>
                    //axios部分
                    var all_students_data=Array()
                    axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
                        .then(function (response) {
                            main_display(response.data.words);
                            
                        })                      
                        .catch(function (error) {
                            console.log(error);
                        });
                    
                    //vue部分
                    function main_display(all_data)
                    {
                        
                        var all_students_datas=new Vue({
                            el:'#all_students_datas',
                            data:{
                                all_students_data:all_data,
                                cube_students:all_data.slice(0,5)
                                //studentA_avatar:"https://ws3.sinaimg.cn/large/006tNc79ly1fig6fhvtbvj30zk0zkn4f.jpg"
                            },
                            methods:{
                                /*
                                getInfo(){
                                
                                studentA_avatar=all_students_data;
                                }
                                */
                            }
                        })

                        var chess_game=new Vue({
                            el:"#chess_game",
                            data:{
                                game_position:[[0,0,0,],[0,0,0,],[0,0,0]],
                                game_end:false
                            },
                            methods:{
                                newStep: function(event) {
                                    var i = event.currentTarget.id.split('-')[0]-1;
                                    var j = event.target.id.split('-')[1]-1;
                                    if(chess_game.game_position[i][j]!=0){
                                        alert('此处不能下棋');
                                    }else{
                                        if(chess_game.game_end==false){
                                            chess_game.game_position[i][j]=1;
                                            chess_game.redraw(chess_game.whose_winner);
                                        }
                                        if(chess_game.game_end==false){
                                            chess_game.computer_step();
                                            chess_game.redraw(chess_game.whose_winner);
                                        }   

                                    }

                                },
                                redraw:function(callback){
                                    for(var i=1;i<4;i++){
		                                for(var j=1;j<4;j++){
			                                var  a_man= document.getElementById(i+'-'+j);
			                                switch (chess_game.game_position[i-1][j-1])
			                                {
				                                case 1:
					                                a_man.innerHTML = 'O';
					                                a_man.style.color = 'lightblue';
					                                break;
				                                case -1:
                                                    a_man.innerHTML = "X";
					                                a_man.style.color = '#ADFF2F';
					                                break;
				                                default:
					                                break;
			                                }
		                                }
                                    }
                                    callback();
                                },
                                three_in_line:function(role){
                                    //行上有获胜吗？
                                    for(var i=0;i<3;i++){
                                        chess_sum=0;
                                        for(var j=0;j<3;j++){
			                                chess_sum += chess_game.game_position[i][j];
                                        }
                                        if(chess_sum==role*3){
                                            return 1;
                                        }
                                    }
                                    //列上有获胜吗？
                                    for(var j=0;j<3;j++){
                                        chess_sum=0;
                                        for(var i=0;i<3;i++){
                                            chess_sum += chess_game.game_position[i][j];
                                        }
                                        if(chess_sum==role*3){
                                            return 1;
                                        }
                                    }
                                    //斜对角上有获胜吗？
                                    if(chess_game.game_position[0][0]+chess_game.game_position[1][1]+chess_game.game_position[2][2]==role*3)
                                    {
                                        return 1;
                                    }
                                    if(chess_game.game_position[0][2]+chess_game.game_position[1][1]+chess_game.game_position[2][0]==role*3)
                                    {
                                        return 1;

                                    }
                                    //如果没获胜,return 0；
                                    return 0;
                                },
                                whose_winner:function(){
                                    if(chess_game.three_in_line(1)==1){
                                        chess_game.game_end=true;
                                        alert("You win!");
                                    }else if(chess_game.three_in_line(-1)==1){
                                        chess_game.game_end=true;
                                        alert("You lose!");
                                    }
                                },
                                computer_step:function(){
                                    var put_the_chess=false;
                                    while(put_the_chess==false){
                                        var i=Math.floor(Math.random()*3);
                                        var j=Math.floor(Math.random()*3);
                                        console.log(i);
                                        console.log(j);
                                        if(chess_game.game_position[i][j]!=0){
                                        }else{
                                            chess_game.game_position[i][j]=-1;
                                            put_the_chess=true;
                                        }
        
                                    }
                                }
                            }

                        })
                        
                   }
            </script>

    </body>
</html>